@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins";

  background-color: rgb(226, 226, 226);
}

.section {
  width: auto;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.all-section {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: justify;
  letter-spacing: 0.1px;
}

.fawkadvfafbka {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.CV {
  display: flex;
}

.due {
  margin-right: 10px;
  font-weight: 600;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social {
  margin-top: 20px;
 
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px gray;
  margin-top: 3rem;
  
}

.mfksufslaj {
  padding: 20px;
  text-align: center;
}
