@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
}

body {
  background-color: #e3e7eb;
}

/* Nav Home */

.navbar-project {
  background-color: #f4f3f3;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 50px;
}

.btn-contact {
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: #313644;
  margin-right: 22px;
}

.navbar-ul-project {
  display: flex;
  align-items: center;
  margin-left: 22px;
  padding: 0;
  list-style: none;
  gap: 2rem;
}

.nav-li-project {
  text-decoration: none;
  color: black;
}

.nav-li-project-page {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* Nav Home */

/* SECTION */

.section-project {
  width: auto;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-project-2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.project-input {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.project-input-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  
}

.input-form {
  border-radius: 5px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  width: 100%;
}

.input-date {
  display: flex;
  gap: 3rem;
}

.input-date-1 {
  display: flex;
  flex-direction: column;
}

.messsage-form {
  padding: 10px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 5px;
  margin-bottom: 40px;
  width: 100%;
}

label {
  font-weight: 500;
}

.submit-btn {
    margin-top: 80px;
}

.btn-submit {
  border-radius: 9999px;
  padding: 6px 20px;
  width: fit-content;
  background-color: #111727;
  color: white;
}

/* RADIO BUTTON */

.round-radio input[type="checkbox"] {
  display: none; 
}

.round-radio {
  display: flex;
}

.round-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.round-radio label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #999;
  position: absolute;
  left: 0;
  top: 1px;
  background-color: white;
}

.round-radio input[type="checkbox"]:checked + label::before {
  background-color: #2196f3;
  border-color: #2196f3;
}

.radio-1 {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.radio-2 {
  display: flex;
  flex-direction: column;
}

/* RADIO BUTTON */
.input-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.label-upload {
  font-weight: 500;
  border-radius: 1rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.label-in-upload {
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border: dashed;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* SECTION */

/* CONTENT */

.content {
  margin-top: 6rem;
  height: 100vh;
}

.content-project {
  margin-top: 4rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
}

.content-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px gray;
  margin-top: 3rem;
  margin: 0;
}

.content-li-project {
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  background-color: white;
}

.content-a-project {
  display: block;
  height: auto;
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  color: black;
  position: relative;
}

.content-tag {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  font-size: .875rem;
}

.gradient-background {
  background-image: linear-gradient(
    to right,
    rgba(0, 8, 4, 0.4),
    rgba(0, 174, 255, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.transition-colors {
  transition: background-color 0.15s ease, border-color 0.15s ease,
    color 0.15s ease, fill 0.15s ease, stroke 0.15s ease;
}

.dark-mode {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content-icons-project {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
/* CONTENT */


/* detail project */

.detail-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

/* detail project */